@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Outfit", sans-serif;
	background-color: #0d192b;
	color: white;
}

.container {
	max-width: 350px;
	margin: 0 auto;
}

.wrap {
	margin: 2rem 1rem;
	padding: 20px;
	background-color: #14253d;
	border-radius: 16px;
}

.img-overlay {
	position: absolute;
	width: 50px;
	left: 50%;
	top: 50%;
}

.img img {
	width: 100%;
	border-radius: 16px;
}

.sig {
	padding-top: 5px;
	display: flex;
	justify-content: center;
}
